html {
  height: 100%; }

body {
  height: 100%;
  background-color: #ffe856;
  margin: 0; }

.container {
  display: flex; }
  .container#main-container {
    flex-flow: column nowrap;
    width: 60%;
    margin: 0 20% 0 20%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }
  .container#who-highlight {
    flex-flow: row wrap;
    justify-content: center;
    height: 300px;
    background-color: black; }
    .container#who-highlight h1 {
      font: bold 128px "Lucida Console", Monospace;
      color: #ffe856;
      margin: 20px 0 0 0; }
    .container#who-highlight h2 {
      font: italic 18px "Lucida Console", Monospace;
      align-self: flex-center;
      color: #d2d0d0;
      margin: 20px 0 0 0; }
  .container#portfolio {
    flex-flow: row wrap;
    justify-content: center; }
    .container#portfolio h1 {
      font: bold 64px "Lucida Console", Monospace;
      color: #dabe0d;
      margin: 40px 0 20px 0; }
  .container#portfolio-thumbnail-group {
    justify-content: space-around;
    align-content: space-between;
    flex-flow: row wrap;
    padding: 20px; }

.portfolio-thumbnail {
  height: 150px;
  width: 300px;
  padding: 0 0 20px 0;
  background-clip: content-box; }

.round-image {
  border-radius: 50%;
  margin: 20px 10px 0 10px;
  align-self: flex-start; }
