
$bronze: #dabe0d; 
$light-yellow: #ffe856;
$big-dog-font: "Lucida Console",Monospace;

html{
    height: 100%;
}

body {
    height: 100%;
    background-color: $light-yellow;
    margin: 0;
}

.container-custom{

    display: flex;

    &#main-container{
	flex-flow : column nowrap;
	width: 60%;
	margin: 0 20% 0 20%;
	background-color: white;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
    }

    &#who-highlight{
	flex-flow: row wrap;
	justify-content: center;
	height: 300px;
	background-color: black;

	h1{
	    font: bold 128px $big-dog-font;
	    color: $light-yellow;
	    margin: 20px 0 0 0;

	}

	h2{
	    font: italic 18px $big-dog-font;
	    align-self: flex-center;
	    color: #d2d0d0;
	    margin: 20px 0 0 0;
	}

    }

    &#portfolio{
	
	flex-flow: row wrap;
	justify-content: center;

	h1{
	    font:bold 64px $big-dog-font;
	    color: $bronze;
	    margin: 40px 0 20px 0;
	}

    }

    &#contact-me{
	flex-flow: column nowrap;
	align-content: center;
	padding: 0px 20px 0 20px;
	
	h1{
	    text-align:center;
	    font:bold 64px $big-dog-font;
	    color: $bronze;
	     margin: 40px 0 20px 0;
	}
    }


    &#input-fields {

	flex-flow: row wrap;
	padding: 0px 40px 0 40px;
	
	.form-control{
	    margin: 0 0 20px 0;
	    border-width: 0 0 2px 0;
	    border-style: solid;
	    border-color: $bronze;
	}

	h2{
	    font:bold 32px $big-dog-font;
	    color: $bronze;
	    margin: 20px 0 5px 0;
	}
    }
    
    
    &#portfolio-thumbnail-group{
	justify-content: space-around;
	align-content: space-between;
	flex-flow: row wrap;
	padding: 20px;
    }
}


//#GENERAL USE

.portfolio-thumbnail{
    height: 150px;
    width: 300px;
    padding: 0 0 20px 0;
    background-clip:content-box;
}


.round-image{
    border-radius: 50%;
    margin: 20px 10px 0 10px;
    align-self: flex-start;
}

.line-separator {

    width: 100%;
    height: 2px;
    background-color: #d2d0d0;
}
